                                                 Assignment 1

Q1: In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.


sol:  Values:
     'hello' is a string 
     -87.8 is a float value
      6 is integer value
      2) Operators:
        *,-,/,+ are mathematical operators.

Q2: What is the difference between string and variable?

sol: A variable is anything  that  we can use to store data in a program. Data stored in variable can be int, float, string etc while as,
     
A string is a specific data that we use to fill up a vairable.It is a type of variable that stores text values.A string is written in single quote or in double quotes.

In [32]:
a = 'ineuron'
type(a)

str

Q3: Describe three different data types.

sol: 1. Numeric data(int,float,complex) :The numeric data type in Python represents the data that has a numeric value. A numeric value can

be   an integer, a floating number, or even a complex number.

Integer: This value is represented by int class. It contains positive or negative whole numbers.
    
Float: This value is represented by the float class. It is a real number with a floating-point representation. It is specified by a  decimal point

complex number:Complex number is represented by a complex class. It is specified as (real part + (imaginary part)j).

2.Texts(string): A string is a collection of one or more characters put in a single quote, double-quote, or triple-quote. 
    
3.Sequenced data(lists, tuple, dictionary):The sequence Data Type in Python is the ordered collection of similar or different data types.    Sequences allow storing of multiple values in an organized and efficient fashion. 
    
4.Boolean : Data type with one of the two built-in values, True or False. Used in conditional statements and logical operations.

Q4 What is an expression made up of? What do all expressions do?


sol: An expression is made up of variables,operators. The expression in Python produces some value or result after being interpreted by the Python interpreter.

In [1]:
y = 10
z = 20
a = y + z
print(a)

30

Q5 . This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

sol:  Expression is a combination of one or more values, variables, operators.Expressions produces value or result after being interpreted by interpreter. 

while as a statement is a complete instructions or a command that perform actions. Statements doesnot return a value like expressions do. eg of statements : if, for, while & assignment statements.

In [1]:
spam = 10  # statement
spam += 10 # expression
print(spam)

20

Q6 After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1


sol: after running given code output given is 23.
     But the variable becon contains 22 as expression bacon +1 doesnot reassign the value in bacon.
     
     (for reassignment : bacon = bacon + 1)

In [2]:
bacon = 22
bacon + 1

23

In [3]:
bacon

22

Q7: 7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

sol: Both shows same results.

In [1]:
'spam'*3

'spamspamspam'

In [2]:
'spam' + 'spamspam'

'spamspamspam'

Q8: Why is eggs a valid variable name while 100 is invalid?


sol: we cannot assign numerical value at the begining of variable name.

In [19]:

100a = 'Apple'

print(100)

SyntaxError: invalid decimal literal (1131076552.py, line 2)

In [1]:
eggs = 10
print(eggs)

10

Q9: What three functions can be used to get the integer, floating-point number, or string
version of a value?

sol.
int(),
float(),
str()

In [2]:
a=str("haseeb")
type(a)

str

In [25]:
b = int(10)
type(b)

int

In [9]:
c = float(8.9)
type(c)

float

Q10: Why does this expression cause an error? How can you fix it?
'I have eaten'  + 99 +  'burritos'

sol: we can"t add(concatenate) str and int, if we want to iradicate the error we can write 99 as'99'(i.e conversion of int into string) or str(99)

In [5]:
a ='I have eaten' + ' 99' + ' burritos'
print(a)

I have eaten 99 burritos

In [4]:
a ='I have eaten ' + str(99) + ' burritos'
print(a)

I have eaten 99 burritos